.notification-message {
  border-left-width: 0.1rem;
}

.dy-bg-green {
  background-color: #002d18;
}

.dy-image{
  width: 85px;
  height: 85px;
  object-fit: cover;
}

.dy-pictBackground {
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  background-image: url("${GiftPicture x2}");
  min-height: ${Picture min height}px;
}

@media only screen and (min-width: 768px) {
  .dy-pictBackground {
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;
    background-image: url("${GiftPicture x3}");
    min-height: ${Picture min height}px;
  }
}

