.dy-popin-login {
  z-index: 200;
}

.dy-popin-width {
  display: flex;
}

.dy-center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.dy-top-right {
  top: 5px;
  right: 5px;
}

.dy-font--large {
  color: var(--brand-codegray, #191919);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.dy-section {
  display: flex;
  padding: 2rem;
}

.dy-popin-login.dy-popin-fullscreen {
  padding: 0;
  max-width: 60%;
}

.dy-popin-fullscreen > * {
  flex: 1;
  max-width: 100%;
  z-index: 300;
}

.dy-img-desk {
  width: 50%;
  display: inline-block;
}

.dy-img-mob {
  display: none;
}

.dy-icon {
  font-size: 2.5rem;
}

.dy-iconCtn {
  padding-left: 20px;
}

@media only screen and (max-width: 767px) {
  .dy-popin-width {
    display: block;
  }

  .dy-img-desk {
    display: none;
  }
  .dy-img-mob {
    display: inline-block;
    width: 100%;
  }

  .dy-popin-login.dy-popin-fullscreen {
    padding: 0;
    max-width: 85%;
  }

  .dy-icon {
    font-size: 5rem;
  }

  .dy-section {
    padding-top: 2.5rem;
    display: block;
  }

  .dy-iconCtn {
    padding-left: 0;
  }
}
